/*----------------
Common Styles
----------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	background: #212020;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
.ml-1{
	margin-left: 10px;
}
.ml-2{
	margin-left: 20px;
}
.mr-1{
	margin-right: 10px;
}
.mr-2{
	margin-right: 20px;
}
.mx-2{
	margin: 0 10px;
}
.py-1{
	padding: 10px 0;
}
.pl-2{
	padding-left: 20px;
}
.pl-3{
	padding-left: 30px;
}
.inner-shadow{
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
}
.outer-shadow{
	box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.05), inset -2px -2px 4px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #8F8A8A; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	cursor: pointer;
  background: rgba(255, 255, 255, 0.3); 
}
/*Width & Height Component Styles Start*/
.width-height{
	position: relative;
}
.width-height form{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.width-height::before{
	content: '';
	position: absolute;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	left: 0; 
	height: 100%; 
	top: -2px;
}
.width-height form .width-height-fields{
	background: #353535;
	border: 1px solid #4D4D4D;
	border-radius: 6px;
	margin-right: 15px;
	padding: 0 5px 0 7px;
}
.width-height form .width-height-fields label{
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
}
.width-height form .width-height-fields input{
	padding: 4px 2px;
	background: #353535;
	border: none;
	width: 45px;
	color: #ffffff;
}
.width-height form .width-height-fields input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}
/*Width & Height Component Styles End*/
/*Custom Select Component Style Starts*/
.custom-select {
	width: 100px;
  position: relative;
  border-radius: 6px;
  border: 1px solid #4D4D4D;
}
.custom-select select {
  display: none; 
}
.select-selected {
  background-color: #353535;;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 11px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 6px;
}
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 3px 10px;
  border: 1px solid #4D4D4D;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 12px;
}
.select-items {
  position: absolute;
  background-color: #353535;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #4D4D4D;
}
.select-hide {
  display: none;
}
.select-items div:hover, 
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/*Custom Select Component Style Ends*/
/*Search Bar Style Starts*/
.search-bar{
	width: 80%;
	position: relative;
}
.search-bar input{
	width: 100%;
	padding: 12px 15px;
	background: #212020;
	border-radius: 8px;
	border: none;
	color: rgba(255, 255, 255, 1);
}
.search-bar input::placeholder{
	font-size: 12px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
}
.search-bar .submit-btn{
	position: absolute;
	right: 0;
	top: 0;
	padding: 12px 15px 10px 15px;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
/*Search Bar Style Ends*/
/*Dropdown Button Style Starts*/
.dropdown{
	width: fit-content;
	position: relative;
}
.dropdown button{
	width: 100%;
	padding: 13px 15px;
	border: none;
	background: #212020;
	border-radius: 8px;
	cursor: pointer;
}
.dropdown .dropdown-content{
	display: none;
	position: absolute;
	left: -75px;
	top: 50px;
	min-width: 150px;
	z-index: 1;
	background: #212020;
	border-radius: 8px;
	padding: 10px;
}
.dropdown .dropdown-content button{
	background-color: transparent;
	border: none;
	font-size: 12px;
	font-weight: 500;
	color: #ffffff;
	text-align: left;
	padding: 7px 10px;
	box-shadow: none;
}
/*Dropdown Button Style Ends*/
/*Range Slider Component Style Starts*/
.range-slider {
  width: 70%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #FF8A00;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #FF8A00;;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #FF8A00;;
}
.range-slider__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: #FF8A00;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #FF8A00;;
  padding: 5px 10px;
  margin-left: 8px;
  display: none;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}
/*Range Slider Component Style Ends*/
/*Custom Color Picker Style Starts*/
#swatch{
  background: transparent;
  display: flex;
  align-items: center;
}
#swatch .info{
  padding: 12px 0;
}
#swatch input[type="color"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 20px;
  padding: 0;
  width: 20px;
  border-radius: 50%;
}
::-webkit-color-swatch-wrapper {
  padding: 0;
}
::-webkit-color-swatch{
  border: 0;
  border-radius: 50%;
}
::-moz-color-swatch,
::-moz-focus-inner{
  border: 0;
}
::-moz-focus-inner{
  padding: 0;
}
/*Custom Color Picker Style Ends*/

/*----------------
Header Styles
----------------*/
.header{
  width: 100%;
  padding: 20px;
}

/*Top & Bottom Wrapper Styles*/
.header .tb-wrapper{
	border-radius: 8px;
}
.header .tb-wrapper .lna-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 2px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.header .tb-wrapper .lna-wrapper.py-1{
	padding: 10px 0;
}
.header .tb-wrapper .lna-wrapper .logo{
	width: 12%;
	padding: 0 20px;
}
.header .tb-wrapper .lna-wrapper .logo img{
	vertical-align: middle;
}

/*Navbar Styles*/
.navbar{
	width: 70%;
}
.header .tb-wrapper .lna-wrapper .navbar .navbar-btns button{
	background-color: transparent;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: 0.3s;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}
.header .tb-wrapper .lna-wrapper .actions{
	width: 15%;
	padding-right: 20px;
	text-align: right;
}
.header .tb-wrapper .lna-wrapper .actions.width-18{
	width: 18%;
}
.header .tb-wrapper .lna-wrapper .actions button{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0 7px;
}
.header .tb-wrapper .lna-wrapper .actions button img{
	vertical-align: middle;
	width: 20px;
}
.header .tb-wrapper .features-wrapper{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 3px 0;
}
.header .tb-wrapper .features-wrapper.py-1{
	padding: 10px 0;
}
.header .tb-wrapper .features-wrapper .empty-space{
	width: 12%;
}
.header .tb-wrapper .features-wrapper .features{
	width: 86%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.header .tb-wrapper .features-wrapper .features .bwh-wrapper,
.header .tb-wrapper .lna-wrapper .bwh-wrapper{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
/*Buttons Styles*/
.header .tb-wrapper .features-wrapper .features .bwh-wrapper .btns,
.header .tb-wrapper .lna-wrapper .bwh-wrapper .btns{
	position: relative;
}
/*.header .tb-wrapper .features-wrapper .features .bwh-wrapper .btns:after{
	content: '';
	position: absolute;
	border-left: 1px solid rgba(255, 255, 255, 0.3);
	right: -20px; 
	height: 70%; 
	top: 5px;
}*/
.header .tb-wrapper .features-wrapper .features .bwh-wrapper .btns button,
.header .tb-wrapper .lna-wrapper .bwh-wrapper .btns button{
	padding: 10px;
	border: none;
	cursor: pointer;
	background-color: transparent;
}
.header .tb-wrapper .lna-wrapper .bwh-wrapper .btns button{
	margin: 0 5px;
}
.header .tb-wrapper .features-wrapper .features .bwh-wrapper .btns button img,
.header .tb-wrapper .lna-wrapper .bwh-wrapper .btns button img{
	vertical-align: middle;
}
.header .tb-wrapper .features-wrapper .features .essential-wrapper{
	width: 15%;
	display: flex;
	justify-content: flex-end;
}
.header .tb-wrapper .features-wrapper .typo-btns{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 10px;
}
.header .tb-wrapper .features-wrapper .typo-btns.scissor-shape-btns{
	width: 90%;
}
.header .tb-wrapper .features-wrapper .typo-btns button{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	border: none;
	margin: 0 5px;
}
.header .tb-wrapper .features-wrapper .typo-btns.scissor-shape-btns button{
	padding: 10px 5px;
	margin-left: 10px;
}
.header .tb-wrapper .features-wrapper .typo-btns .custom-select{
	margin: 0 15px;
}
.header .tb-wrapper .features-wrapper .actions{
	width: 20%;
	padding-right: 20px;
	text-align: right;
}
.header .tb-wrapper .features-wrapper .actions.width-18{
	width: 18%;
}
.header .tb-wrapper .features-wrapper .actions button{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 0 7px;
}
.header .tb-wrapper .features-wrapper .actions button img{
	vertical-align: middle;
	width: 20px;
}
.header .tb-wrapper .features-wrapper .hrs-wrapper{
	width: 180px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}
.header .tb-wrapper .features-wrapper .hrs-wrapper img{
	vertical-align: middle;
}
.header .tb-wrapper .features-wrapper .hrs-wrapper .range-slider{
	margin-top: -6px;
}
.header .tb-wrapper .features-wrapper .hcp-wrapper{
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}



/*Wrapper Styles*/
.wrapper{
	width: 100%;
	/*height: 80vh;*/
	display: flex;
	flex-wrap: wrap;
	/*margin-top: 20px;*/
	border: 1px solid rgba(0, 0, 0, 0.4);
}

/*--------------------
Left Sidebar Styles
---------------------*/
.wrapper .left-sidebar{
	width: 20%;
	padding-bottom: 30px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.wrapper .left-sidebar .project-name{
	padding: 10px 40px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.wrapper .left-sidebar .project-name p{
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
}
.wrapper .left-sidebar .search-wrapper{
	padding: 10px 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.wrapper .left-sidebar .search-wrapper .swd-btn-wrapper{
	width: 15%;
}


/*Layers Styles*/
.wrapper .left-sidebar .layers{
	width: 100%;
	padding: 20px;
}
.wrapper .left-sidebar .layers .layer{
	width: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	border-radius: 10px;
}
.wrapper .left-sidebar .layers .layer:not(:first-child){
	margin-top: -10px;
}
.wrapper .left-sidebar .layers .layer .accordion {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  background: linear-gradient(180deg, rgba(7, 7, 7, 0.3) 56.25%, rgba(7, 7, 7, 0) 100%);
  color: #ffffff;
  cursor: pointer;
  padding: 10px 18px 25px 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  transition: 0.4s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.wrapper .left-sidebar .layers .layer .accordion img{
	width: 15px;
	margin-left: 5px;
}
.wrapper .left-sidebar .layers .layer .accordion.active, 
.wrapper .left-sidebar .layers .layer .accordion:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.wrapper .left-sidebar .layers .layer .panel {
  height:140px;
  padding: 0 18px;
  display: none;
  /*overflow: hidden;*/
}
.wrapper .left-sidebar .layers .layer .panel p{
	font-size: 14px;
	color: #ffffff;
	font-weight: 500;
	margin-bottom: 5px;
}
.wrapper .left-sidebar .layers .layer .panel.active{
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
}
.wrapper .left-sidebar .add-layer-btn{
	text-align: center;
}
.wrapper .left-sidebar .add-layer-btn button{
	background-color: transparent;
	border: none;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	cursor: pointer;
}
.wrapper .left-sidebar .total-layers{
	width: 70%;
	margin: 150px auto 0 auto;
	text-align: center;
	background: #353535;
	border: 1px solid #4D4D4D;
	border-radius: 6px;
	padding: 5px 0;
}
.wrapper .left-sidebar .total-layers p{
	font-size: 14px;
	color: #ffffff;
}


/*Main Area Styles*/
.wrapper .main{
	width: 65%;
	height: 100%;
	padding: 20px;
	border-right: 1px solid rgba(0, 0, 0, 0.4);
}
.wrapper .main .project-name{
	margin-top: 40px;
	margin-bottom: 10px;
}
.wrapper .main .project-name p{
	font-size: 16PX;
	text-transform: capitalize;
	color: #2565C6;
	font-weight: 700;
	margin-left: 20px;
}
.wrapper .main .editable-img{
	width: 100%;
	height: 60%;
	overflow: auto;
	padding: 0 10px;
}
.wrapper .main .editable-img img{
	display: block;
	width: 100%;
	margin: auto;
}
.wrapper .main .main-tools-wrapper{
	width: 100%;
	/*height: 30%;*/
	/*overflow: auto;*/
	padding: 20px;
}
.wrapper .main .main-tools-wrapper .most-used-tools{
	/*border: 1px solid white;*/
}
.wrapper .main .main-tools-wrapper .most-used-tools .heading p{
	font-size: 16px;
	font-weight: 700;
	color: #FF8A00;
	margin-bottom: 10px;
}
.wrapper .main .main-tools-wrapper .most-used-tools .tools-wrapper{
	width: 175px;
	background: #212020;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 10px;
}
.wrapper .main .main-tools-wrapper .most-used-tools .tools-wrapper button{
	background: transparent;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

/*Main Adjustments Styles*/
.wrapper .main .main-tools-wrapper .adjustments .heading p{
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 10px;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper{
	width: 80%;
	background: #212020;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .adjustment-items{
	width: 50%;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .adjustment-items .adjustment-item{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/*justify-content: space-between;*/
	margin-bottom: 10px;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .adjustment-items .adjustment-item P{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
	width: 110px;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .adjustment-items .adjustment-item .range-slider{
	width: 150px;	
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .rotation-btn{
	width: 130px;
	position: relative;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .rotation-btn button{
	width: 100%;
	padding: 8px 20px;
	border: none;
	color: #ffffff;
	background: #353535;
	border: 1px solid #4D4D4D;
	border-radius: 6px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 500;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .rotation-btn button img{
	margin-left: 20px;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .rotation-btn .content{
	display: none;
	position: absolute;
	left: 0;
	top: 30px;
	min-width: 130px;
	z-index: 10;
	background: #212020;
	padding: 10px;
	background: #353535;
	border: 1px solid #4D4D4D;
}
.wrapper .main .main-tools-wrapper .adjustments .adjustments-wrapper .rotation-btn .content button{
	background-color: transparent;
	border: none;
	font-size: 10px;
	font-weight: 500;
	color: #ffffff;
	text-align: left;
	padding: 5px 10px;
	width: auto;
	display: block;
}

/*Main Area Filters Styles*/
.wrapper .main .main-tools-wrapper .filters .heading p{
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 10px;
}
.wrapper .main .main-tools-wrapper .filters .filters-wrapper{
	width: 80%;
	background: #212020;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	padding: 20px;
}
.filters .filters-wrapper #filter-slider {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
  border-radius: 3px;
  background: transparent;
}
.filters .filters-wrapper #filter-slider .filter-slider-frame {
  position: absolute;
  top: 0;
  left: 2em;
  right: 2em;
  bottom: 0;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  overflow: hidden;
}
.filters .filters-wrapper #filter-slider .filter-slider-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  height: 100%;
}
.filters .filters-wrapper #filter-slider .filter-slider-inset {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.5em 0.25em;
  overflow: hidden;
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img{
	width: 100%;
  position: relative;
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img img{
	width: 100%;
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 100%;
  opacity: 0.5;
  transition: .5s ease;
  border-radius: 10px;
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay.sepia{
  background-color: rgba(255, 138, 0, 0.9);
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay.blue{
  background-color: rgba(37, 101, 198, 0.9);
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay.nightmare{
  background-color: rgba(80, 78, 78, 0.9);
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay.vintage{
  background-color: rgba(180, 16, 134, 0.9);
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .filter-img .overlay.other{
  background-color: rgba(100, 16, 104, 0.9);
}
.filters .filters-wrapper #filter-slider .filter-slider-item .filter-slider-inset .filter .hmt{
	font-size: 12px;
	color: #ffffff;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}
.filters .filters-wrapper #filter-slider .arrow {
  cursor: pointer;
  position: absolute;
  width: 2em;
  height: 10%;
  padding: 0;
  margin: 0;
  outline: 0;
  top: 40px;
  background: transparent;
}
.filters .filters-wrapper #filter-slider .arrow:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0.75em;
  height: 0.75em;
  margin: auto;
  border-style: solid;
}
.filters .filters-wrapper #filter-slider .prev {
  left: 0;
  bottom: 0;
}
.filters .filters-wrapper #filter-slider .prev:before {
  left: 0.25em;
  border-width: 3px 0 0 3px;
  border-color: #fff transparent transparent #fff;
  transform: rotate(-45deg);
}
.filters .filters-wrapper #filter-slider .next {
  right: 0;
  bottom: 0;
}
.filters .filters-wrapper #filter-slider .next:before {
  right: 0.25em;
  border-width: 3px 3px 0 0;
  border-color: #fff #fff transparent transparent;
  transform: rotate(45deg);
}



/*Right Sidebar Styles*/
.wrapper .right-sidebar{
	width: 15%;
}
.wrapper .right-sidebar .tpi-wrapper{
	width: 100%;
	padding: 25px 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.wrapper .right-sidebar .toolbar-wrapper{
	width: 100%;
	padding: 0 10px;
}
.wrapper .right-sidebar .toolbar-wrapper .tools{
	width: 100%;
	background: #212020;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.wrapper .right-sidebar .toolbar-wrapper .tools-2{
	width: 28%;
}
.wrapper .right-sidebar .toolbar-wrapper .tools .tools-header{
	padding: 5px 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.wrapper .right-sidebar .toolbar-wrapper .tools .tools-header button{
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 10px;

}
.wrapper .right-sidebar .toolbar-wrapper .tools .tools-btns{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.wrapper .right-sidebar .toolbar-wrapper .tools-2 .tools-btns{
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background: #212020;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.wrapper .right-sidebar .toolbar-wrapper .tools .tools-btns button{
	background: transparent;
	border: none;
	padding: 10px;
	cursor: pointer;
}
.wrapper .right-sidebar .toolbar-wrapper .tools-2 .tools-btns button{
	background: transparent;
	border: none;
	padding: 20px 10px;
	cursor: pointer;
}

/*Export Button Styles*/
.wrapper .right-sidebar .toolbar-wrapper .export-btn{
	padding: 15px 0;
	width: 100%;
}
.wrapper .right-sidebar .toolbar-wrapper .export-btn button{
	display: block;
	width: 100%;
	background: #2565C6;
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 10px;
	padding: 10px 0;
	cursor: pointer;
}

/*Modes Styles*/
.wrapper .right-sidebar .toolbar-wrapper .modes{
	width: 100%;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .heading{
	padding: 0 10px;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .heading p{
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns{
	padding: 10px;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper{
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper:hover input ~ .checkmark {
  background-color: #FF8A00;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper input:checked ~ .checkmark:after {
  display: block;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .modes-btns-wrapper .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #FF8A00;
}

/*Create New Modal Styles*/
.modal {
  /*display: none;*/ /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 70px 0; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background: rgba(33, 32, 32, 0.3); /* Black w/ opacity */
  backdrop-filter: blur(3px); 
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  padding: 20px 40px;
  background: #353535;
  border: 1px solid #A5A5A5;
  border-radius: 20px;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
/*Modal Header Styles*/
.modal-content .modal-header {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.modal-content .modal-header h1{
	font-size: 36px;
	color: #ffffff;
	font-weight: 500;
}
.modal-content .modal-header h1 span{
	font-size: 24px;
	color: #FF8A00;
}
.modal-content .modal-header .action-btns button{
	background: transparent;
	border: none;
	padding: 0 5px;
	cursor: pointer;
}
.modal-content .modal-header .action-btns button img{
	vertical-align: middle;
}
/*Modal Body Styles*/
.modal-content .modal-body{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Modal Body Left Sidew Styles*/
.modal-content .modal-body .modal-body-left{
	width: 20%;
}
.modal-content .modal-body .modal-body-left .modes-btns{
	padding-bottom: 18px;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper{
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-top: 18px;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper:hover input ~ .checkmark {
  background-color: #FF8A00;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper input:checked ~ .checkmark:after {
  display: block;
}
.modal-content .modal-body .modal-body-left .modes-btns .modes-btns-wrapper .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background: #FF8A00;
}
/*Modal Body Right Side Styles*/
.modal-content .modal-body .modal-body-right{
	width: 75%;
	padding: 15px 0;
}

/*Modal Body Right Side Image Sizes Styles*/
.modal-content .modal-body .modal-body-right .image-sizes{
	width: 100%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.modal-content .modal-body .modal-body-right .image-sizes .sm-wrapper{
	width: 20%;
	height: 100%;
	position: relative;
}
.modal-content .modal-body .modal-body-right .image-sizes .sm-wrapper .sm{
	width: 100%;
	height: 60%;
	position: absolute;
	bottom: 0;
	background: #D9D9D9;
	border: 4px solid #FF8A00;
	border-radius: 10px;
}
.modal-content .modal-body .modal-body-right .image-sizes .md-wrapper{
	width: 30%;
	height: 100%;
	position: relative;
}
.modal-content .modal-body .modal-body-right .image-sizes .md-wrapper .md{
	width: 100%;
	height: 80%;
	position: absolute;
	bottom: 0;
	background: #D9D9D9;
	border-radius: 10px;
}
.modal-content .modal-body .modal-body-right .image-sizes .lg-wrapper{
	width: 42%;
	height: 100%;
	position: relative;
}
.modal-content .modal-body .modal-body-right .image-sizes .lg-wrapper .lg{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	background: #D9D9D9;
	border-radius: 10px;
}
.modal-content .modal-body .modal-body-right .image-sizes .md-wrapper .md:hover,
.modal-content .modal-body .modal-body-right .image-sizes .lg-wrapper .lg:hover{
	border: 4px solid #FF8A00;
}

/*Modal Body Right Side Information Styles*/
.modal-content .modal-body .modal-body-right .information-wrapper{
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.modal-content .modal-body .modal-body-right .information-wrapper .information{
	width: 70%;
	background: #353535;
	padding: 20px;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.modal-content .modal-body .modal-body-right .information-wrapper .information .heading{
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
}
.modal-content .modal-body .modal-body-right .information-wrapper .information .width-height{
	font-size: 20px;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.7);
	margin-top: 5px;
}
.modal-content .modal-body .modal-body-right .information-wrapper .open-create-btns{
	width: 25%;
}
.modal-content .modal-body .modal-body-right .information-wrapper .open-create-btns button{
	display: block;
	width: 100%;
	cursor: pointer;
	padding: 10px 0;
	margin-bottom: 15px;
	color: #ffffff;
	background: #2565C6;
	border-radius: 14px;
	font-size: 20px;
	border: none;
	text-transform: uppercase;
	font-weight: 600;
	cursor: pointer;
}

/*Modal Body Right Image Size and Form Styles*/
.modal-content .modal-body .modal-body-right .image-size-form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.modal-content .modal-body .modal-body-right .image-size-form .image-size{
	width: 30%;
}
.modal-content .modal-body .modal-body-right .image-size-form .image-size img{
	width: 100%;
}
.modal-content .modal-body .modal-body-right .image-size-form .image-size .heading p{
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 5px;
	font-weight: 600;
}
.modal-content .modal-body .modal-body-right .image-size-form .image-size .size-text {
	font-size: 20px;
	text-align: center;
	color: #FF8A00;
	margin-bottom: 5px;
	font-weight: 600;
}
.modal-content .modal-body .modal-body-right .image-size-form .form{
	width: 65%;
}
.modal-content .modal-body .modal-body-right .image-size-form .form .form-control{
	width: 80%;
	display: block;
	margin-top: 40px;
	padding: 15px 20px;
	border: none;
	outline: none;
	background: #353535;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	color: rgba(255, 255, 255, 0.4);
}
.modal-content .modal-body .modal-body-right .image-size-form .form .form-control::placeholder{
	font-size: 16px;
	font-weight: 600;
	color: rgba(255, 255, 255, 0.4);
}
.modal-content .modal-body .modal-body-right .image-size-form .form .upload-btn{
	margin-top: 20px;
}
.modal-content .modal-body .modal-body-right .image-size-form .form .upload-btn label{
  padding: 30px 20px; 
  display: table;
  color: #fff;
  background: #353535;
	box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.05), inset 4px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
}
.modal-content .modal-body .modal-body-right .image-size-form .form .upload-btn input[type="file"] {
    display: none;
}
.modal-content .modal-bg{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-image: url('../img/bg-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.modal-content .modal-bg .modal-header{
	padding: 20px 40px 10px 40px;
	margin-bottom: 10px;
}
.modal-content .modal-bg .sub-heading{
	margin-bottom: 10px;
}
.modal-content .modal-bg .sub-heading p{
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
}
.modal-content .modal-bg .sub-heading p span{
	color: #FF8A00;
}
.modal-content .modal-bg .switch-btn{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.modal-content .modal-bg .switch-btn .monthly-text,
.modal-content .modal-bg .switch-btn .yearly-text{
	font-size: 28px;
	font-weight: 500;
	color: #ffffff;
	margin-right: 20px;
}
.modal-content .modal-bg .switch-btn .yearly-text{
	margin-right: 0;
	margin-left: 20px;
	color: #FF8A00;
}
.modal-content .modal-bg .switch-btn .switch,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch{
  position: relative;
  display: inline-block;
  width: 100px;
  height: 36px;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch{
	width: 86px;
}
.modal-content .modal-bg .switch-btn .switch input,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.modal-content .modal-bg .switch-btn .slider,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #fff;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch .slider{
	background: #3C3838;
	border: 1px solid #938989;
}
.modal-content .modal-bg .switch-btn .slider:before,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch .slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 6px;
  bottom: 4px;
  background-color: #FF8A00;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #E9E7E7;;
}
.modal-content .modal-bg .switch-btn input:checked + .slider,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch input:checked + .slider {
  background-color: #fff;
}
.modal-content .modal-bg .switch-btn input:focus + .slider,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.modal-content .modal-bg .switch-btn input:checked + .slider:before,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}
.modal-content .modal-bg .switch-btn .slider.round,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .slider.round
 {
  border-radius: 20px;
}
.modal-content .modal-bg .switch-btn .slider.round:before,
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .slider.round:before
 {
  border-radius: 30px;
}
.wrapper .right-sidebar .toolbar-wrapper .modes .modes-btns .switch .lock-icon{
	position: absolute;
	right: 14px;
	top: 8px;
}
.modal-content .modal-bg .price-items{
	width: 100%;
	padding: 20px 40px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.modal-content .modal-bg .price-items .price-item{
	width: 23%;
	padding: 20px;
	background: linear-gradient(180deg, #444444 0%, rgba(68, 68, 68, 0) 100%);
	filter: drop-shadow(2px 2px 4px #000000) drop-shadow(-2px -2px 4px rgba(255, 255, 255, 0.15));
	border-radius: 8px;
}
.modal-content .modal-bg .price-items .price-item .plan-name{
	font-size: 20px;
	font-weight: 500;
	color: #FF8A00;
	margin-left: 15px;
}
.modal-content .modal-bg .price-items .price-item .plan-for{
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 15px;
}
.modal-content .modal-bg .price-items .price-item .price{
	font-size: 50px;
	font-weight: 600;
	color: #ffffff;
	margin: 10px 15px;
}
.modal-content .modal-bg .price-items .price-item .price span{
	font-size: 16px;
	color: #FF8A00;
	font-weight: 500;
}
.modal-content .modal-bg .price-items .price-item .try-btn{
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
} 
.modal-content .modal-bg .price-items .price-item .try-btn button{
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	padding: 15px 0;
	background: #2565C6;
	border-radius: 14px;
	border: none;
	cursor: pointer;
}
.modal-content .modal-bg .price-items .price-item .features{
	margin-top: 10px;
}
.modal-content .modal-bg .price-items .price-item .features .heading{
	font-size: 18px;
	font-weight: 500;
	color: #FF8A00;
	margin-left: 15px;
}
.modal-content .modal-bg .price-items .price-item .features .features-list{
	margin: 5px 0;
}
.modal-content .modal-bg .price-items .price-item .features .features-list li{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.modal-content .modal-bg .price-items .price-item .features .features-list li img{
	width: 15px;
	vertical-align: middle;
	margin-right: 10px;
}
.modal-content .modal-bg .price-items .price-item .features .see-features-btn{
	margin: 10px 0;
	width: 100%;
}
.modal-content .modal-bg .price-items .price-item .features .see-features-btn button{
	width: 100%;
	font-size: 16px;
	font-weight: 600;
	color: #ffffff;
	background: rgba(255, 255, 255, 0.14);
	border-radius: 14px;
	padding: 15px 0;
	border: none;
}
.modal-content .modal-bg .price-items .price-item.active{
	background: linear-gradient(180deg, #03FFA4 0%, rgba(116, 99, 79, 0.49) 100%);
	box-shadow: 2px 2px 4px #000000, -2px -2px 4px rgba(255, 255, 255, 0.15);
	border-radius: 8px;
}



/*Sign Up and Sign In Styles*/
.signin-container{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.signin-container .signin-img{
	width: 50%;
	height: 100%;
}
.signin-container .signin-img img{
	width: 100%;
	height: 100%;
}
.signin-container .signin-form{
	width: 50%;
	height: 100%;
	overflow-y: scroll;
}
.signin-container .signin-form .heading h1{
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	background: linear-gradient(90.42deg, #2565C6 19.08%, #C625BF 112.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	margin: 50px 0;
}
.signin-container .signin-form .form{
	width: 50%;
	margin: auto;
	overflow: auto;
}
.signin-container .signin-form .form .form-heading h3{
	font-size: 30px;
	font-weight: 500;
	color: #000000;
	margin-bottom: 20px;
}
.signin-container .signin-form .form .form-heading h3 span{
	font-size: 20px;
	font-weight: 400;
}
.signin-container .signin-form .form .form-group{
	width: 100%;
	position: relative;
	margin-top: 20px;
}
.signin-container .signin-form .form .form-group .form-control{
	width: 100%;
	padding: 12px 20px;
	border: 2px solid rgba(0, 0, 0, 0.6);
	border-radius: 15px;
}
.signin-container .signin-form .form .form-group .form-control::placeholder{
	font-size: 16px;
	color: #949494;
	font-weight: 500;
}
.signin-container .signin-form .form .form-group .view-password-icon{
	position: absolute;
	right: 20px;
	top: 17px;
	cursor: pointer;
}
.signin-container .signin-form .form .forgot-password-link{
	text-align: right;
	margin: 10px 0;
}
.signin-container .signin-form .form .term-policy-checkbox{
	margin: 10px;
}
.signin-container .signin-form .form .forgot-password-link a,
.signin-container .signin-form .form .term-policy-checkbox label{
	font-size: 16px;
	font-weight: 500;
	color: #3586FF;
}
.signin-container .signin-form .form .signin-btn{
	width: 100%;
}
.signin-container .signin-form .form .signin-btn button{
	width: 100%;
	background: #2565C6;
	border-radius: 15px;
	font-size: 16px;
	color: #ffffff;
	border: none;
	padding: 12px 0;
	cursor: pointer;
}
.signin-container .signin-form .form .or-text{
	width: 100%;
	margin: 30px 0;
}
.signin-container .signin-form .form .or-text h3{
	width: 100%; 
	font-size: 20px;
	color: #000000;
	font-weight: 600;
  text-align: center; 
  line-height: 0.1em;
  border-bottom: 1px solid #000; 
  margin: 10px 0 20px;
}
.signin-container .signin-form .form .or-text h3 span{
	background:#fff; 
	padding:0 10px; 
}
.signin-container .signin-form .form .social-btns{
	width: 100%;
}
.signin-container .signin-form .form .social-btns button{
	width: 100%;
	background: #2565C6;
	border-radius: 15px;
	font-size: 16px;
	color: #ffffff;
	border: none;
	padding: 12px 0;
	cursor: pointer;
	margin-bottom: 10px;
}
.signin-container .signin-form .form .social-btns button img{
	vertical-align: middle;
	margin-right: 10px;
	width: 25px;
}
.signin-container .signin-form .form .social-btns button.go-btn{
	background-color: #F70A0A;
}
.signin-container .signin-form .form .not-member-link{
	text-align: center;
	margin: 20px 0;
}
.signin-container .signin-form .form .not-member-link a{
	font-size: 16px;
	font-weight: 500;
	color: #3586FF;
}
.signin-container .signin-form .form .signup-social-btns{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.signin-container .signin-form .form .signup-social-btns button{
	width: 48%;
	background: #2565C6;
	border-radius: 15px;
	font-size: 16px;
	color: #ffffff;
	border: none;
	padding: 12px 0;
	cursor: pointer;
	margin-bottom: 10px;
}
.signin-container .signin-form .form .signup-social-btns button img{
	vertical-align: middle;
	margin-right: 10px;
	width: 25px;
}
.signin-container .signin-form .form .signup-social-btns button.go-btn{
	background-color: #F70A0A;
}

@media(max-width: 767px){
	
}